body {
    font-family: Arial, sans-serif;
    background: url("https://images.unsplash.com/photo-1618844242326-3de8151f462b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  h1 {
    color: #333;
    font-size: 30px;
    text-align: center;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
  }
  
  .container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
  }
  
  .container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 45px -0 15px;
  }
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
  }
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  #alert1 {
    color: red;
    font-size: 15px;
    text-align: center;
  }
  
  button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    
  }
  
  button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
  }
  
  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #05bada66;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }
  
  p {
    color: #666;
    margin-top: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 200px) and (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    h1 {
      font-size: 30px;
    }
  
    button {
      font-size: 14px;
    }
  }
  